nav {
    background-color: #000000;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li {
    margin-right: 20px;
}

.logo {
    margin-right: auto;
    
    height: 50px;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #24feee;
}
